.movieList{
    margin: 2% auto;
    display: flex;
    justify-content: center;    
}


.listContent {
    width: 100%;
    margin: auto;
    position: absolute;
}

.filter {
    display: flex;
    justify-content: center;    
}
