.cardAction{
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
    
}
.cardFocus{
    display: flex;
    justify-content: center; 
    margin: 5% auto;   
}

.CardContent{
    margin-bottom: 2%;
}

.layout{
    width: 100%;
    margin: auto;
    position: absolute;
}

.link{
    text-decoration: none;
    color: black;
}

.card{
   display: 'flex';
  
}
.card:hover{
    transition: all 0.35s ease-out;
    transform: scale(1.009);
}

